{% extends 'base_tmp.html' %}
{% block content %}
  <br />
  <h2>Brands List</h2>
  <div class="row">
    <div class="col-md-8">
      <form action="" method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search" name="search">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <a href="{{url_for('products.new_brand')}}" class="btn btn-primary justify-content-right">Add Brand</a>
    </div>
    <div class="col-md-12">
      <p class="text-muted">Showing {{ brands|length }} of {{ brands|length }} brands</p>
    </div>
  </div>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">description</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
        <tbody>
          {% for brand in brands %}
          <tr>
            <td>{{ brand.name }}</td>
            <td>{{ brand.description }}</td>
            <td>
              <a href="{{ url_for('products.update_brand', brand_id=brand.id) }}" class="btn btn-primary btn-sm m-1">Edit</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteeModal">Delete</button>
            </td>
          </tr>
          {% endfor %}
  <div class="modal fade" id="deleteeModal" tabindex="-1" aria-labelledby="deleteeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteeModalLabel">Delete brand?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this brand?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {% for brand in brands %}
          <form action="{{ url_for('products.delete_brand', brand_id=brand.id) }}" method="post">
          {% endfor %}
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  
</tbody>
        
</table>
{% endblock content %}