{% extends 'admin_layout.html' %}
{% block content %}
<h1>Invoices</h1>
{% if orders %}
{% for order in orders %}
<div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{ order.invoice_number }}" aria-expanded="false"
                aria-controls="{{ order.invoice_number }}">
                Invoice Number: {{ order.invoice_number }}
            </button>
        </h2>
        <div id="{{ order.invoice_number }}" class="accordion-collapse collapse"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p style="color: #036b08;">Invoice Date: {{ order.created_at }}</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, val in order.order.items() %}
                        <tr>
                            <td>{{ val['name'] }}</td>
                            <td>{{ val['quantity'] }}</td>
                            <td>{{ val['price'] }}</td>
                            <td>{{ val['total'] }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="text-right"><strong>Total Quantity</strong></td>
                            <td><strong>{{ order.quantity }}</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right"><strong>Total</strong></td>
                            <td><strong>{{ order.total_price }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>No orders found.</p>
{% endif %}
</div>
</div>
{% endblock %}