<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMS - Login</title>
    <link href="../static/style/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
    <style>
        body {
  background-color: #f1f1f1;
}

.container {          
  margin-top: 50px;            
  max-width: 500px;          
  border: 1px solid #ccc;          
  border-radius: 10px;  
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);        
}

.form-control:focus {
  box-shadow: none;
}

.form-control {
  border-radius: 10px;
}
    </style>
</head>
<body>
    <div class="container">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith%}
        </div>
        <h2 class="text-center mb-4">Login</h2>
        <form method="POST" action="" class="needs-validation" novalidate>
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control", id="username", placeholder="name@example.com")}}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control", id="floatingPassword", placeholder="Password")}}
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
            <div class="text-center mt-3">
                <input type="checkbox" value="remember-me"> Remember me
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"></script>
    <footer class="footer-container ">
        <span class="text-muted">Rosail car service store.</span>
    </footer>
</body>
</html>